<div class="container-fluid mt-4">
    <form class="form-row">
        <div class="text-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Tiêu đề</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Tác giả</label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Mô tả về sách</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Ngày phát hành</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Số trang</label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-row">
                <label for="inputPassword4">Thể loại</label>
                <select class="form-control">
                    <option>Thể loại 1</option>
                    <option>Thể loại 2</option>
                    <option>Thể loại 3</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Xác nhận</button>
        </div>

        <div class="d-flex flex-column ml-4 mt-4">
            
            
                <input type="file" name="file" id="file" class="inputfile" placeholder="Upload" />
                <img src="" alt="Ảnh sách">
            
        </div>
    </form>
</div>