<div class="container-fluid mt-4">
    <form method="POST" action="/book/insert" class="form-row" >
        <div class="text-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Tiêu đề</label>
                    <input name="name" type="text" class="form-control" id="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Tác giả</label>
                    <input name="author" type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Mô tả về sách</label>
                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Ngày phát hành</label>
                    <input name="releaseDate" type="date" class="form-control" id="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Số trang</label>
                    <input name="numberOfPages" type="number" class="form-control" id="">
                </div>
            </div>
            <div class="form-row">
                <label for="inputPassword4">Thể loại</label>
                <select name="type" class="form-control">
                    <option>Truyện</option>
                    <option>Tiểu thuyết</option>
                    <option>Khoa học</option>
                    <option>Toán học</option>
                    <option>Khác</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Xác nhận</button>
        </div>

        <div class="d-flex flex-column ml-4 mt-4">
            
            
                <input type="file" name="path" id="file" class="inputfile" placeholder="Upload" />
                <img src="" alt="Ảnh sách">
            
        </div>
    </form>
</div>